.calendar {
  cursor: pointer;
  padding: 10px;
  border: 1px solid rgb(216, 216, 216);
  margin: 0 20px !important;
}

.popup-form {
  display: block;
  margin: auto;
  width: 200px;
}

.popup-apply-btn {
  cursor: pointer;
  text-align: center;
  margin: auto;
  display: block;
  border: 1px solid #070f6c;
  padding: 10px 15px;
  width: 100%;
  border-radius: 10px;
  background-color: #e1ddf1;
  color: #070f6c;
}

.popup-apply-btn:disabled {
  cursor: not-allowed;
  background-color: rgb(247, 247, 247);
  color: #a2a0aa;
  border: 1px solid #a2a0aa;
}

.modal {
  width: 500px;
  height: 500px;
  background-color: rgb(247, 247, 247);
  border: 1px solid gray;
}
.modal > .modal-header {
  width: 100%;
  border-bottom: 1px solid rgb(216, 216, 216);
  font-size: 18px;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
}

.modal-label-input-container {
  display: block;
  text-align: center;
  margin: 20px 0;
}

.modal-label-input-container > label {
  margin-bottom: 5px;
}

.modal-label-input-container > input {
  display: block;
  width: 100%;
  padding: 10px;
}

.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}
