.hisotry-wrapper {
  display: flex;
}

.history-select-container {
  display: flex;
  justify-content: space-between;
  min-width: 350px;
  align-items: center;
  padding: 10px 0;
}

.history-table {
  width: 100%;
  border-spacing: 0;
  border: 1px solid rgb(216, 216, 216);
  border-bottom: 0;
  margin-top: 17px;
}

.history-table-tr-main {
  font-weight: 700;
}

.history-table-tr-main > td {
  border-bottom: 1px solid rgb(216, 216, 216);
  background-color: rgb(247, 247, 247);
  width: 14.28%;
  padding: 10px 5px;
}

.history-table-row-td {
  border-bottom: 1px solid rgb(216, 216, 216);
  padding: 10px 5px;
}

.positive-value {
  color: green !important;
}

.negative-value {
  color: red !important;
}

.select-selected-frequency {
  border: 1px solid rgb(216, 216, 216);
  padding: 13px;
}
